body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow-x: hidden;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  position: relative;
  text-align: center;
  overflow: hidden;

  background: url("https://images.unsplash.com/photo-1503376780353-7e6692767b70") no-repeat center/cover;
}

/* OVERLAY */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  top: 0;
  left: 0;
}

/* TITLE */
h1 {
  position: relative;
  margin-top: 120px;
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: 600;
  z-index: 2;
  opacity: 0;
}

/* STATS */
.stats {
  position: relative;
  z-index: 2;
  margin-top: 20px;
}

.stat {
  opacity: 0;
  margin: 10px;
  font-size: 20px;
  color: #00ffd5;
}

/* CAR */
#car {
  position: absolute;
  bottom: 20px;
  left: -300px;
  width: 280px;
  z-index: 10;

}

/* SCROLL AREA */
.content {
  height: 200vh;
  background: black;
}
